@use "colori.scss";
@use "componenti.scss";

html,
body {
  width: auto;
  height: auto;
  margin: 0;
  overflow-x: hidden;
  overflow-y: overlay;
}

* {
  font-family: 'Roboto', sans-serif;
  letter-spacing: 0.8px;
  transition: background-color 0.3s ease, background 0.3s ease, color 0.3s ease, border-color 0.3s ease, box-shadow 0.3s ease;
}

body {
  min-height: 100vh;
  background: var(--pastelThemeWhite) !important;
  color: var(--text-primary);
}

h1, h2, h3, h4, h5, h6, p {
  color: var(--text-primary);
}

.default { // classe di default per i temi
  .input {
    background:
    linear-gradient(white, white) padding-box,
    var(--tropicalTheme) border-box;
  }
}
